.tl_row_inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .art-info{
    text-align: right;
    align-self: center;
    color:#999;
    box-sizing: border-box;
    padding-left:10px;

    text-overflow:ellipsis;
    white-space:nowrap;
    max-width: 600px;
    overflow:hidden;
  }

  &.highlight .art-info{
    color: #f47c00;
  }

  &.bold .art-info{
    font-weight: 500;
  }

  &.none .art-info{
    display: none;
  }
}