.tl_row_inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .art-info{
    text-align: right;
    align-self: center;
    color:#999;
    box-sizing: border-box;

    text-overflow:ellipsis;
    white-space:nowrap;
    max-width: 600px;
    overflow:hidden;

    margin: -2px;
    padding: 2px 2px 2px 10px;

    .bh-id, .bh-class, .bh-tag{
      font-size: 12px;
      padding: 0 3px;
      background-color: #f1f1f1;
      border: 1px solid #999999;
      border-radius: 6px;
      line-height: 1;
      color: #444;
      vertical-align: baseline;

      &:before{
        color: #999999;
      }
    }

    .bh-id{
      background: rgb(244 124 0 / 25%);

      &:before{
        content: "#";
      }
    }

    .bh-class{
      background: rgb(0 188 244 / 8%);

      &:before{
        content: ".";
      }
    }
  }

  &.highlight .art-info{
    color: #f47c00;
  }

  &.bold .art-info{
    font-weight: 500;
  }

  &.none .art-info{
    display: none;
  }
}